.git
.gitignore
README.md
.env
.env.local
.env.*.local
.next
.vercel
node_modules
.swp
.swo
*~
.DS_Store
coverage
.nyc_output
dist
build
.eslintcache
.prettierignore
.idea
.vscode
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pem
.cache
.vercel
.next
out